<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketing VIP</title>
</head>

<body>
    <table width="600px" border="0" align="center">
        <tr>
            <td>
                <figure style="margin: 0; padding: 0; width: 100%;">
                    <img style="margin: 0; padding: 0; width: 100%;" src="https://apicrm.mvevip.com/mails/nuevareserva/cabecera.png" alt="">
                </figure>
            </td>
        </tr>
    </table>


    <table width="600" border="0" cellspacing="0" align="center" style="margin-top: 25px; border-bottom: 0; border: #9999;">
        <tr>
            <td style="text-align: left;">
                <p style="font-family: 'Tahoma'; margin-top: 20px; padding: 0 0.5em; font-size: 13px; color: #666666;">Estimados, </p>
            </td>         
        </tr>
        <tr>
            <td style="text-align: left;">
                <p style="font-family: 'Tahoma'; margin-top: 20px; padding: 0 0.5em; font-size: 13px;color: #666666;">Juanca y Verito: por favor realizar el pago, y enviar comprobante de transferencia.</p>
            </td>         
        </tr>
        <tr>
            <td style="text-align: left;">
                <p style="font-family: 'Tahoma'; margin-top: 20px; padding: 0 0.5em; font-size: 13px; font-weight: bold; color: #666666;">Te paso los datos de la cuenta: <br>PLANETA AZUL<br>DEPOSITO - TRANSFERENCIAS BANCO PICHINCHA <br>CUENTA CORRIENTE 2100071955 <br>NOMBRE: MARIA VERONICA GOMEZ BASANTES <br>RUC:1719221721.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align: left;">
                <p style="font-family: 'Tahoma'; margin-top: 20px; padding: 0 0.5em; font-size: 13px; color: #666666;">Geova revisión de liquidación y factura (las físicas deben llegar en los próximos días).</p>
            </td>
        </tr>
    </table>

    <br><br><br>
</body>

</html>