<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENCUESTA SERVICIO MARKETING VIP</title>
    <style>
        .ancho{
            width: 60%;
        }
        .marketing{
            margin: 0 auto;
            padding: 0;
            width: 100%;
        }
        .marketing img {
            margin: 0;
            padding: 0;
            width: 100%;
        }
        .cuadro_numbers{
            margin: 0;
            padding: 0;
            width: 100px;
            border: 1px solid rgba(0,0,0,0.5);
        }
        .cuadro_numbers .link_numbers{
            text-decoration: none;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
        .cuadro_numbers .link_numbers .numbers{
            font-size: 18px;
            margin: 0;
            padding: 0.5em ;
            font-weight: bold;
            color: #222;
        }
        @media (max-width: 800px) {
            .ancho{
                width: 90%;
            }
            .text_desktop{
                font-size: 10px;
            }
            .cuadro_numbers .link_numbers .numbers{
                font-size: 15px;
            }
        }
    </style>
</head>

<body style="background-color: #d5d5d5; text-align: center;">
    <table style="text-align: center; margin: 0 auto; padding:0; background-color: white;" border="0" class="ancho">
        <tr>
            <td style="width: 100%; border-bottom: 5px solid #A7BF30; margin: 0; padding: 0;"></td>
        </tr>
        <tr style="border-top: 5px solid #A7BF30;">
            <td>
                <figure class="marketing">
                    <img src="https://ventas.mvevip.com/header.jpg" alt="">
                </figure>                
            </td>            
        </tr>
        <tr>
            <td>
                <p style="font-size: 16px; font-weight: bold; font-style: italic; color: #666; font-size: 11px; text-align: right; padding: 0 0.5em 0 0;" class="text_desktop">
                    Valoramos mucho tu opini&oacute;n</p>
            </td>
        </tr>
    </table>
    <table style="text-align: center; margin: 0 auto; padding:0; background-color: white;" border="0" class="ancho">
        
        <tr>
            <td colspan="2">
                <figure width="100%" style="margin: 0; padding: 0;">
                    <img src="https://ventas.mvevip.com/avion_ventana.jpg" width="100%" style="margin: 0; padding: 0;">
                </figure>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="font-weight: bold;" class="text_desktop">
                ¿Cómo fue tu viaje con nosotros?
                <br></br>
            </td>
        </tr>

        <tr>
            <td colspan="2" style="padding: 0 0.5em; text-align: justify;" class="text_desktop">
                Estimado %destinatario%. <br><br> Gracias por confiar en <strong>MARKETING VIP</strong>, para las vacaciones de tu familia. Esperamos que
                tu estancia haya sido muy placentera, sin embargo, valoramos mucho tu opinión, por lo cual te invitamos
                para que nos cuentes tu experiencia tomando esta corta encuesta.
                <br></br>
            </td>
        </tr>
        <tr>
            <td colspan="2"
                style="text-align: left; padding: 0 0.5em; text-align: justify; font-style: italic;" class="text_desktop">
                Nuestros records muestran que viajaste a %destino% desde el %pickup_fecha% hasta el %dropoff_fecha%. <br></br>
                Basado en tu viaje, ¿Qué tan probable es que usted recomiende a Marketing Vip con un amigo o colega?
                <br></br>
            </td>
        </tr>
        <tr>
            <td style="text-align: left; padding: 0 0.5em; text-align: justify; font-weight: bold;" class="text_desktop">
                Nada probable
            </td>
            <td style="text-align: right; padding: 0 0.5em; font-weight: bold;" class="text_desktop">
                Extremedamente Probable
            </td>
        </tr>

        <tr>
            <td colspan="2" style="padding: 0 0.5em;">
                <table width="100%" cellspacing="0">
                    <tr>
                        <td class="cuadro_numbers">
                            <a href="https://encuesta.mvevip.com/index.html?cod=%hash%&val=0" class="link_numbers">
                                <p class="numbers">0</p>
                            </a>
                        </td>
                        <td class="cuadro_numbers">
                            <a href="https://encuesta.mvevip.com/index.html?cod=%hash%&val=1" class="link_numbers">
                                <p class="numbers">1</p>
                            </a>
                        </td>
                        <td class="cuadro_numbers">
                            <a href="https://encuesta.mvevip.com/index.html?cod=%hash%&val=2" class="link_numbers">
                                <p class="numbers">2</p>
                            </a>
                        </td>
                        <td class="cuadro_numbers">
                            <a href="https://encuesta.mvevip.com/index.html?cod=%hash%&val=3" class="link_numbers">
                                <p class="numbers">3</p>
                            </a>
                        </td>
                        <td class="cuadro_numbers">
                            <a href="https://encuesta.mvevip.com/index.html?cod=%hash%&val=4" class="link_numbers">
                                <p class="numbers">4</p>
                            </a>
                        </td>
                        <td class="cuadro_numbers">
                            <a href="https://encuesta.mvevip.com/index.html?cod=%hash%&val=5" class="link_numbers">
                                <p class="numbers">5</p>
                            </a>
                        </td>
                        <td class="cuadro_numbers">
                            <a href="https://encuesta.mvevip.com/index.html?cod=%hash%&val=6" class="link_numbers">
                                <p class="numbers">6</p>
                            </a>
                        </td>
                        <td class="cuadro_numbers">
                            <a href="https://encuesta.mvevip.com/index.html?cod=%hash%&val=7" class="link_numbers">
                                <p class="numbers">7</p>
                            </a>
                        </td>
                        <td class="cuadro_numbers">
                            <a href="https://encuesta.mvevip.com/index.html?cod=%hash%&val=8" class="link_numbers">
                                <p class="numbers">8</p>
                            </a>
                        </td>
                        <td class="cuadro_numbers">
                            <a href="https://encuesta.mvevip.com/index.html?cod=%hash%&val=9" class="link_numbers">
                                <p class="numbers">9</p>
                            </a>
                        </td>
                        <td class="cuadro_numbers">
                            <a href="https://encuesta.mvevip.com/index.html?cod=%hash%&val=10" class="link_numbers">
                                <p class="numbers">10</p>
                            </a>
                        </td>
                        <!-- <td class="cuadro_numbers">
                            <a href="http://54.188.245.185/encuesta/index.html?cod=%hash%&val=0"
                                style="text-decoration: none; font-weight: bold; color: #222; margin: 0; padding: 0;">
                                <a href="#" style="border: 0; background-color: white;" class="text_numbers">0</a>
                            </a>
                        </td>
                        <td
                            style="padding: 0; width: 100px; text-align: center; border: 1px solid rgba(0,0,0,0.8); border-left: 0;">
                            <a href="http://54.188.245.185/encuesta/index.html?cod=%hash%&val=1"
                                style="text-decoration: none; font-weight: bold; color: #222;">
                                <a href="#" style="border: 0; background-color: white;" class="text_numbers">1</a>
                            </a>
                        </td>
                        <td
                            style="padding: 0; width: 100px; text-align: center; border: 1px solid rgba(0,0,0,0.8); border-left: 0;">
                            <a href="http://54.188.245.185/encuesta/index.html?cod=%hash%&val=2"
                                style="text-decoration: none; font-weight: bold; color: #222;">
                                <a href="#" style="border: 0; background-color: white;" class="text_numbers">2</a>
                            </a>
                        </td>
                        <td
                            style="padding: 0; width: 100px; text-align: center; border: 1px solid rgba(0,0,0,0.8); border-left: 0;">
                            <a href="http://54.188.245.185/encuesta/index.html?cod=%hash%&val=3"
                                style="text-decoration: none; font-weight: bold; color: #222;">
                                <a href="#" style="border: 0; background-color: white;" class="text_numbers">3</a>
                            </a>
                        </td>
                        <td
                            style="padding: 0; width: 100px; text-align: center; border: 1px solid rgba(0,0,0,0.8); border-left: 0;">
                            <a href="http://54.188.245.185/encuesta/index.html?cod=%hash%&val=4"
                                style="text-decoration: none; font-weight: bold; color: #222;">
                                <a href="#" style="border: 0; background-color: white;" class="text_numbers">4</a>
                            </a>
                        </td>
                        <td
                            style="padding: 0; width: 100px; text-align: center; border: 1px solid rgba(0,0,0,0.8); border-left: 0;">
                            <a href="http://54.188.245.185/encuesta/index.html?cod=%hash%&val=5"
                                style="text-decoration: none; font-weight: bold; color: #222;">
                                <a href="#" style="border: 0; background-color: white;" class="text_numbers">5</a>
                            </a>
                        </td>
                        <td
                            style="padding: 0; width: 100px; text-align: center; border: 1px solid rgba(0,0,0,0.8); border-left: 0;">
                            <a href="http://54.188.245.185/encuesta/index.html?cod=%hash%&val=6"
                                style="text-decoration: none; font-weight: bold; color: #222;">
                                <a href="#" style="border: 0; background-color: white;" class="text_numbers">6</a>
                            </a>
                        </td>
                        <td
                            style="padding: 0; width: 100px; text-align: center; border: 1px solid rgba(0,0,0,0.8); border-left: 0;">
                            <a href="http://54.188.245.185/encuesta/index.html?cod=%hash%&val=7"
                                style="text-decoration: none; font-weight: bold; color: #222;">
                                <a href="#" style="border: 0; background-color: white;" class="text_numbers">7</a>
                            </a>
                        </td>
                        <td
                            style="padding: 0; width: 100px; text-align: center; border: 1px solid rgba(0,0,0,0.8); border-left: 0;">
                            <a href="http://54.188.245.185/encuesta/index.html?cod=%hash%&val=8"
                                style="text-decoration: none; font-weight: bold; color: #222;">
                                <a href="#" style="border: 0; background-color: white;" class="text_numbers">8</a>
                            </a>
                        </td>
                        <td
                            style="padding: 0; width: 100px; text-align: center; border: 1px solid rgba(0,0,0,0.8); border-left: 0;">
                            <a href="http://54.188.245.185/encuesta/index.html?cod=%hash%&val=9"
                                style="text-decoration: none; font-weight: bold; color: #222;">
                                <a href="#" style="border: 0; background-color: white;" class="text_numbers">9</a>
                            </a>
                        </td>
                        <td
                            style="padding: 0; width: 100px; text-align: center; border: 1px solid rgba(0,0,0,0.8); border-left: 0;">
                            <a href="http://54.188.245.185/encuesta/index.html?cod=%hash%&val=10"
                                style="text-decoration: none; font-weight: bold; color: #222;">
                                <a href="#" style="border: 0; background-color: white;" class="text_numbers">10</a>
                            </a> -->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td colspan="2" style="text-align: left; padding: 0 0.5em; text-align: justify;" class="text_desktop">
                <br></br>
                De antemano te agradecemos por tu importate opinión, ya que esto permite mejorar continuamente nuestro
                servicio.
                <br></br>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: left; padding: 0 0.5em;" class="text_desktop">
                Atentamente,
                <br>
                <figure style="margin: 0; padding: 0; width: 150px;"><img src="https://ventas.mvevip.com/firma.png"
                        alt="" style="margin: 0; padding: 0; width: 150px;"></figure>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: left; padding: 0 0.5em; text-align: justify;" class="text_desktop">
                Departamento de Aseguramiento de Calidad
                <br><br><br>
            </td>

        </tr>
    </table>
    <br><br><br>
</body>

</html>