<link type="text/css" href="%css%" rel="stylesheet" />
<page backleft="0mm" backright="0mm" backtop="0mm" backbottom="0mm">
    <page_footer>
        <table style="width: 100%; margin: 0; padding: 0;">
            <tr>
                <td style="width: 100%; margin: 0; padding: 0;">
                    <img src="%footer%" alt="" style="margin: 0; padding: 0; width: 100%;">
                </td>
            </tr>
        </table>
    </page_footer>
    <!-- CONTENIDO -->
    <p style="margin: 0; padding-top: 0px; padding-left: 0px; padding-right: 0; padding-bottom: 0; position: relative;">%cuerpo%</p>
</page>
<page backleft="0mm" backright="0mm" backtop="0mm" backbottom="0mm">
    <page_footer>
        <table style="width: 100%; margin: 0; padding: 0;">
            <tr>
                <td style="width: 100%; margin: 0; padding: 0;">
                    <img src="%footer_destino%" alt="" style="margin: 0; padding: 0; width: 100%;">
                </td>
            </tr>
        </table>
    </page_footer>
    <!-- CONTENIDO -->
    <p style="margin: 0; padding-top: 0px; padding-left: 0px; padding-right: 0; padding-bottom: 0; position: relative; width: 100%;">%cuerpo_destino%</p>
</page>
<page backleft="0mm" backright="0mm" backtop="0mm" backbottom="0mm">
    <page_footer>
        <table style="width: 100%; margin: 0; padding: 0;">
            <tr>
                <td style="width: 100%; margin: 0; padding: 0;">
                    <img src="%footer_terminos%" alt="" style="margin: 0; padding: 0; width: 100%;">
                </td>
            </tr>
        </table>
    </page_footer>
    <!-- CONTENIDO -->
    <p style="margin: 0; padding-top: 0px; padding-left: 0px; padding-right: 0; padding-bottom: 0; position: relative;">%cuerpo_terminos%</p>
</page>